<nav class="navbar navbar-expand-lg" id="nav">
    <div class="container-fluid d-flex">
        <a class="navbar-brand" href="#">
            <img class="navbar-logo" src="../assets/logo-AP.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="https://www.instagram.com/josuefernandez.1/">
                    <i class='bx bxl-instagram' id="icon-instagram"></i>
                </a>
                <a class="nav-link" href="https://www.linkedin.com/in/santiago-fern%C3%A1ndez-4b8bb1232/">
                    <i class='bx bxl-linkedin' id="icon-linkedin"></i>
                </a>
                <a class="nav-link" href="https://github.com/SantiJosue">
                    <i class='bx bxl-github'  id="icon-github"></i>
                </a>
                <button class="nav-btn"><a class="nav-link--active" href="/login">Login</a></button> 
            </div>
        </div>
    </div>
</nav>