<div class="container-fluid">
    <div class="row">
        <div class="btn-añadir">
            <button type="button" class="btn btn-primary mt-2" routerLink="/editacercade/1" *ngIf="isLogged">
                Editar persona
            </button>
        </div>
        <div class="user-container d-flex">
            <img src="../../../assets/user.jpg" class="img-fluid" alt="user-img">
            <div class="user">
                <h3 class="section-name" *ngIf="persona">{{persona.nombre}} {{persona.apellido}}</h3>
                <p class="section-title">Full Stack Developer Jr</p>
            </div>
        </div>
        <div class="section-description" data-aos="fade-right" data-aos-duration="1000">
            <h2 class="text-light text-center mt-2">Sobre mi</h2>
            <p class="text-light" *ngIf="persona">{{persona.descripcion}}</p>
        </div>
    </div>    
</div>

