<section class="study-container" data-aos="fade-right" data-aos-duration="1000">
    <h2 class="text-light text-center">Educacion</h2>

    <div class="btn-añadir">
        <button type="button" class="btn btn-primary mt-2" routerLink="/nuevaedu" *ngIf="isLogged">
            Añadir educacion
        </button>
    </div>
    
    <div class="study text-light mt-2">
            <ul *ngFor="let Educacion of educacion">
                <div class="study-content">
                <li><h4>{{Educacion.nombreE}}</h4></li>
                <li><h6>{{Educacion.descripcionE}}</h6></li>
                </div>
                <div class="buttons" *ngIf="isLogged">
                        <button class="btn btn-primary" routerLink="/editedu/{{Educacion.id}}">
                        <i class="bi bi-pencil"></i> Editar</button>
                        <button class="btn btn-danger" (click)="delete(Educacion.id)">
                        <i class="bi bi-trash"></i> Borrar</button>
                </div>
            </ul>
    </div>

</section>