<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santiago Josué Fernández - Full Stack Developer Jr</title>
    <!-- ENLACE CSS-->
    <link rel="stylesheet" href="app.component.css">
</head>

<body>
<!-- NAVBAR -->
<header class="header">
    <nav class="navbar navbar-expand-lg" id="nav">
        <div class="container-fluid d-flex">
            <a class="navbar-brand" href="#">
                <img class="navbar-logo" src="../assets/logo-AP.png" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="#"><img src="../assets/gmail.png" class="icon-gmail" alt="gmail"></a>
                    <a class="nav-link" href="#"><i class='bx bxl-linkedin' style="color: #000;" id="icon-linkedin"></i></a>
                    <a class="nav-link" href="#"><i class='bx bxl-github' style="color: #000;" id="icon-github"></i></a>
                    <button class="nav-btn"><a class="nav-link--active" href="#">Login</a></button> 
                </div>
            </div>
        </div>
    </nav>
    <!-- /NAVBAR -->
</header>

<!-- MAIN -->
<main class="container-fluid" id="main">
    <figure class="banner-container">  
        <div class="user-container d-flex">
            <img src="../assets/user.jpg" class="img-fluid" alt="user-img">
            <div class="user-title">
                <h3 class="section-name">Santiago Josué Fernández</h3>
                <p class="section-title">Full Stack Developer Jr</p>
            </div>
        </div>
    </figure>

    <section class="section-main">
        <div class="section-description" data-aos="fade-right" data-aos-duration="1000">
            <h2 class="text-light mt-2">Sobre mi</h2>
            <p class="text-light">Actualmente estoy enfocado en el desarrollo Front-end. Mi principal objetivo es ampliar mis conocimientos en los distintos lenguajes de programacion y seguir creciendo profesionalmente.
            </p>
        </div>

    <section class="study-container" data-aos="fade-right" data-aos-duration="1000">
        <h2 class="text-light mt-2">Educación</h2>
        <div class="study-1 mt-2">
            <h5 class="study-title text-light mt-4">Colegio Secundario Manuel Belgrano</h5>
            <ul>
                <li><p class="text-light text-center">Bachillerato, Economía</p></li>
                <li><p class="text-light text-center">2016 - 2021</p></li>
            </ul>
        </div>

        <div class="study-2 mt-2">
            <h5 class="study-title text-light mt-4">Argentina Programa 2022</h5>
            <ul>
                <li><p class="text-light">Desarrollador web full stack, Desarrollo de aplicaciones web</p></li>
                <li><p class="text-light text-center">2021 - 2023</p></li>
            </ul>
        </div> 
    </section>

    <section class="section-habilities" data-aos="fade-up" data-aos-duration="1000">
        <div class="row">
            <h2 class="text-light mt-2 text-center">Hard & Soft Skills</h2>
            <h3 class="text-light mt-4">Hard Skills:</h3>
            <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [imageSrc]="'../assets/html.jpg'"
                [imageHeight]="80"
                [imageWidth]="80"
                [backgroundColor]="'#0077ff'"
                [showImage]="true"
                [unitsFontSize]="'20'"
                [percent]="90"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'orange'"
                [innerStrokeColor]="'#c78202'"
                [animation]="true"
                [animationDuration]="800"
            ></circle-progress>
            </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                    [imageSrc]="'../assets/css.png'"
                    [imageHeight]="80"
                    [imageWidth]="80"
                    [backgroundColor]="'#0077ff'"
                    [showImage]="true"
                    [unitsFontSize]="'20'"
                    [percent]="90"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#0150fc'"
                    [innerStrokeColor]="'#023ec2'"
                    [animation]="true"
                    [animationDuration]="800"
            ></circle-progress>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                        [imageSrc]="'../assets/js.png'"
                        [imageHeight]="80"
                        [imageWidth]="80"
                        [backgroundColor]="'#0077ff'"
                        [showImage]="true"
                        [unitsFontSize]="'20'"
                        [percent]="70"
                        [radius]="100"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#fcc101'"
                        [innerStrokeColor]="'#cf9f00'"
                        [animation]="true"
                        [animationDuration]="800"
            ></circle-progress>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
            <circle-progress
                            [imageSrc]="'../assets/ts.svg'"
                            [imageHeight]="80"
                            [imageWidth]="80"
                            [backgroundColor]="'#0077ff'"
                            [showImage]="true"
                            [unitsFontSize]="'20'"
                            [percent]="55"
                            [radius]="100"
                            [outerStrokeWidth]="16"
                            [innerStrokeWidth]="8"
                            [outerStrokeColor]="'#0026ff'"
                            [innerStrokeColor]="'#0321ca'"
                            [animation]="true"
                            [animationDuration]="800"
            ></circle-progress>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
            <circle-progress
                                [imageSrc]="'../assets/angular.png'"
                                [imageHeight]="80"
                                [imageWidth]="80"
                                [backgroundColor]="'#0077ff'"
                                [showImage]="true"
                                [unitsFontSize]="'20'"
                                [percent]="50"
                                [radius]="100"
                                [outerStrokeWidth]="16"
                                [innerStrokeWidth]="8"
                                [outerStrokeColor]="'#d60303'"
                                [innerStrokeColor]="'#a10101'"
                                [animation]="true"
                                [animationDuration]="800"
            ></circle-progress>
        </div>
        </div>
    </section>

    <section class="section-habilities-2" data-aos="fade-down" data-aos-duration="1000">
            <div class="row">
                <h3 class="text-light">Soft Skills:</h3>
                <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                    [imageSrc]="'../assets/english.jpg'"
                    [imageHeight]="80"
                    [imageWidth]="80"
                    [backgroundColor]="'#0077ff'"
                    [showImage]="true"
                    [unitsFontSize]="'20'"
                    [percent]="60"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'orange'"
                    [innerStrokeColor]="'#c78202'"
                    [animation]="true"
                    [animationDuration]="800"
                ></circle-progress>
                </div>
    
            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                        [imageSrc]="'../assets/comunicacion.jpg'"
                        [imageHeight]="80"
                        [imageWidth]="110"
                        [backgroundColor]="'#0077ff'"
                        [showImage]="true"
                        [unitsFontSize]="'20'"
                        [percent]="90"
                        [radius]="100"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#0150fc'"
                        [innerStrokeColor]="'#023ec2'"
                        [animation]="true"
                        [animationDuration]="800"
                ></circle-progress>
            </div>
    
            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [imageSrc]="'../assets/github.jpg'"
                [imageHeight]="80"
                [imageWidth]="80"
                [backgroundColor]="'#0077ff'"
                [showImage]="true"
                [unitsFontSize]="'20'"
                [percent]="70"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#161b22'"
                [innerStrokeColor]="'#242b36'"
                [animation]="true"
                [animationDuration]="800"
                ></circle-progress>
            </div>
            </div>
    </section>

    <section class="section-proyects">
    <h2 class="text-light mt-2 text-center">Proyectos</h2>
    <div class="card-container">
    <div class="card" data-aos="fade-right" data-aos-duration="1000">
        <div class="card-body">
            <h5 class="card-title">Proyecto 1</h5>
            <h6 class="card-subtitle mb-2 text-muted">Fecha</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link text-light">Ver proyecto</a>
        </div>
    </div>
        <div class="card" data-aos="fade-left" data-aos-duration="1000">
        <div class="card-body">
            <h5 class="card-title">Proyecto 2</h5>
            <h6 class="card-subtitle mb-2 text-muted">Fecha</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link text-light">Ver proyecto</a>
        </div>
    </div>
    </div>
    <div class="card-container">
        <div class="card" data-aos="fade-right" data-aos-duration="1000">
        <div class="card-body">
            <h5 class="card-title">Proyecto 3</h5>
            <h6 class="card-subtitle mb-2 text-muted">Fecha</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link text-light">Ver proyecto</a>
        </div>
    </div>
        <div class="card" data-aos="fade-left" data-aos-duration="1000">
        <div class="card-body">
            <h5 class="card-title">Proyecto 4</h5>
            <h6 class="card-subtitle mb-2 text-muted">Fecha</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link text-light">Ver proyecto</a>
        </div>
    </div>
    </div>
    <div class="card-container">
        <div class="card" data-aos="fade-down" data-aos-duration="1000">
        <div class="card-body">
        <h5 class="card-title">Proyecto 5</h5>
        <h6 class="card-subtitle mb-2 text-muted">Fecha</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link text-light">Ver proyecto</a>
        </div>
    </div>
    </div>
    </section>

</section>
</main>
<!-- /MAIN -->

</body>
</html>
