

.study-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    border-top: 1px solid gray;
}

.study-container h5{
    font-weight: bold;
}

.study-container ul{
    list-style: none;
}

.study{
    padding: 5px 10px;
    background-color: #0066ffb0;
    border-radius: 20px;
    border: 1px solid rgb(207, 207, 207);
    transition: all .3s ease;
    text-align: center;
}

.study:hover{
    background-color: rgba(30, 70, 252, 0.527);
}

.study-title{
    font-weight: 400;
    text-align: center;   
}

.experience-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    border-top: 1px solid gray;
}

.experience-container h5{
    font-weight: bold;
}

.experience-container ul{
    list-style: none;
}

.experience {
    padding: 5px 10px;
    background-color: #0066ffb0;
    border-radius: 20px;
    border: 1px solid rgb(207, 207, 207);
    transition: all .3s ease;
    text-align: center;
}

.experience:hover{
    background-color: rgba(30, 70, 252, 0.527);
}

.experience-title{
    font-weight: 400;
    text-align: center;  
}

@media (max-width: 992px) {

    .study-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -3rem;
    }

    .study-container p{
        text-align: center;
        font-size: 18px;
        margin-top: 15px;
    }

    .row{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .study-1{
        width: 80%;
        padding: 6px 6px;
        border-radius: 20px;
        border: 1px solid rgb(207, 207, 207);
        transition: all .3s ease;
        margin-top: 15px;
    }

    .study-1 p{
        font-size: 16px;
        text-align: center;
    }

    .study-title{
        font-weight: 600;
        font-size: 18px;    
    }

    .experience-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .experience-container p{
        text-align: center;
        font-size: 18px;
        margin-top: 15px;
    }

    .experience-1{
        width: 80%;
        padding: 6px 6px;
        border-radius: 20px;
        border: 1px solid rgb(207, 207, 207);
        transition: all .3s ease;
        margin-top: 15px;
    }

    .experience-1 p{
        font-size: 16px;
        text-align: center;
    }

}