<section class="section-habilities" data-aos="fade-up" data-aos-duration="1000">

    <div class="row">
        <h2 class="text-light mt-2 text-center">Hard & Soft Skills</h2>
        <h3 class="text-light mt-4">Hard Skills:</h3>
        <article class="col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [imageSrc]="'../assets/html.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [backgroundColor]="'#0077ff'"
            [showImage]="true"
            [unitsFontSize]="'20'"
            [percent]="90"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'orange'"
            [innerStrokeColor]="'#c78202'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
        </article>

    <article class="col-sm-6 col-md-4 col-lg-4">
        <circle-progress
                [imageSrc]="'../assets/css.png'"
                [imageHeight]="100"
                [imageWidth]="80"
                [backgroundColor]="'#0077ff'"
                [showImage]="true"
                [unitsFontSize]="'20'"
                [percent]="90"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0150fc'"
                [innerStrokeColor]="'#023ec2'"
                [animation]="true"
                [animationDuration]="800"
        ></circle-progress>
    </article>

    <article class="col-sm-6 col-md-4 col-lg-4">
        <circle-progress
                    [imageSrc]="'../assets/js.png'"
                    [imageHeight]="80"
                    [imageWidth]="80"
                    [backgroundColor]="'#0077ff'"
                    [showImage]="true"
                    [unitsFontSize]="'20'"
                    [percent]="70"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#fcc101'"
                    [innerStrokeColor]="'#cf9f00'"
                    [animation]="true"
                    [animationDuration]="800"
        ></circle-progress>
    </article>

    <article class="col-sm-6 col-md-6 col-lg-6">
        <circle-progress
                        [imageSrc]="'../assets/ts.svg'"
                        [imageHeight]="80"
                        [imageWidth]="80"
                        [backgroundColor]="'#0077ff'"
                        [showImage]="true"
                        [unitsFontSize]="'20'"
                        [percent]="55"
                        [radius]="100"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#0026ff'"
                        [innerStrokeColor]="'#0321ca'"
                        [animation]="true"
                        [animationDuration]="800"
        ></circle-progress>
    </article>

    <article class="col-sm-12 col-md-6 col-lg-6">
        <circle-progress
                            [imageSrc]="'../assets/angular.png'"
                            [imageHeight]="80"
                            [imageWidth]="80"
                            [backgroundColor]="'#0077ff'"
                            [showImage]="true"
                            [unitsFontSize]="'20'"
                            [percent]="50"
                            [radius]="100"
                            [outerStrokeWidth]="16"
                            [innerStrokeWidth]="8"
                            [outerStrokeColor]="'#d60303'"
                            [innerStrokeColor]="'#a10101'"
                            [animation]="true"
                            [animationDuration]="800"
        ></circle-progress>
    </article>
    </div>

</section>

<section class="section-habilities-2" data-aos="fade-down" data-aos-duration="1000">

        <div class="row">
            <h3 class="text-light">Soft Skills:</h3>
            <article class="col-sm-6 col-md-4 col-lg-4">
            <circle-progress
                [imageSrc]="'../assets/english.jpg'"
                [imageHeight]="80"
                [imageWidth]="80"
                [backgroundColor]="'#0077ff'"
                [showImage]="true"
                [unitsFontSize]="'20'"
                [percent]="60"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'orange'"
                [innerStrokeColor]="'#c78202'"
                [animation]="true"
                [animationDuration]="800"
            ></circle-progress>
            </article>

        <article class="col-sm-6 col-md-4 col-lg-4">
            <circle-progress
                    [imageSrc]="'../assets/comunicacion.png'"
                    [imageHeight]="90"
                    [imageWidth]="90"
                    [backgroundColor]="'#0077ff'"
                    [showImage]="true"
                    [unitsFontSize]="'20'"
                    [percent]="90"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#0150fc'"
                    [innerStrokeColor]="'#023ec2'"
                    [animation]="true"
                    [animationDuration]="800"
            ></circle-progress>
        </article>

        <article class="col-sm-12 col-md-4 col-lg-4">
            <circle-progress
            [imageSrc]="'../assets/github.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [backgroundColor]="'#0077ff'"
            [showImage]="true"
            [unitsFontSize]="'20'"
            [percent]="70"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#161b22'"
            [innerStrokeColor]="'#242b36'"
            [animation]="true"
            [animationDuration]="800"
            ></circle-progress>
        </article>
        </div>

</section>