<section class="study-container" data-aos="fade-right" data-aos-duration="1000">
        <h2 class="text-light mt-2">Educación</h2>
        <article class="study mt-3 shadow p-3 mb-5 rounded">
            <h5 class="study-title text-light mt-4">Colegio Secundario Manuel Belgrano</h5>
            <ul>
                <li><p class="text-light text-center">Bachillerato, Economía</p></li>
                <li><p class="text-light text-center">2016 - 2021</p></li>
            </ul>
        </article>

        <article class="study mt-3 shadow p-3 mb-5 rounded">
            <h5 class="study-title text-light mt-4">Argentina Programa 2022</h5>
            <ul>
                <li><p class="text-light">Desarrollador web full stack, Desarrollo de aplicaciones web</p></li>
                <li><p class="text-light text-center">2021 - 2023</p></li>
            </ul>
        </article> 
    </section>

    <section class="experience-container" data-aos="fade-right" data-aos-duration="1000">
        <h2 class="text-light">Experiencia</h2>
        <div class="experience mt-3 shadow p-3 mb-5 rounded">
            <h5 class="experience-title text-light mt-4">Mercado Libre</h5>
            <ul>
                <li><p class="text-light">Desarrollador web Frontend</p></li>
                <li><p class="text-light text-center">2021 - 2023</p></li>
            </ul>
        </div> 

        <div class="experience mt-3 shadow p-3 mb-5 rounded">
            <h5 class="experience-title text-light mt-4">Ivess</h5>
            <ul>
                <li><p class="text-light">Operario oficial interno</p></li>
                <li><p class="text-light text-center">2021 - 2023</p></li>
            </ul>
        </div> 
</section>