<section class="section-habilities" data-aos="fade-up" data-aos-duration="1000">

    <div class="row">
        <h2 class="text-light mt-2 text-center">Hard & Soft Skills</h2>
        <div>
            <button class="btn btn-primary" type="button" routerLink="/newHyS" class="btn btn-primary" *ngIf="isLogged">Añadir skill</button>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4" *ngFor="let skill of skill">
        <circle-progress
            [percent]="(skill.porcentaje)"
            [radius]="100"
            [imageSrc]="''"
            [title]="(skill.nombre)"
            [titleColor]="'white'"
            [titleFontSize]="'24'"
            [titleFontWeight]="''"
            [showTitle]="true"
            [showSubtitle]="false"
            [imageHeight]="100"
            [imageWidth]="100"
            [backgroundColor]="'#0077ff79'"
            [showImage]="false"
            [showUnits]="false"
            [unitsFontSize]="'20'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#0077ff'"
            [innerStrokeColor]="'#0077ff'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>

                <div class="buttons" *ngIf="isLogged">
                        <button class="btn btn-primary" routerLink="/editHyS/{{skill.id}}">
                        <i class="bi bi-pencil"></i> Editar</button>
                        <button class="btn btn-danger" (click)="delete(skill.id)">
                        <i class="bi bi-trash"></i> Borrar</button>
                </div>
        </div>