.row{
    text-align: center;
    color: #c78202;
}

.section-habilities{
    width: 100%;
    padding: 40px;
    border-top: 1px solid gray;
}

.section-habilities h4{
    margin-top: 2rem;
}

.section-habilities-2{
    width: 100%;
    padding: 40px;
}

.btn{
    margin: 10px;
}

circle-progress{
    cursor: pointer;
    overflow: hidden;
}

@media (max-width: 992px) {
    
    .section-habilities{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section-habilities-2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -3rem;
    }

    .section-habilities h4{
        margin: 1.5rem 0rem;
    }

    .btn {
        margin: 10px;
    }

    .buttons{
        margin: 10px;
        display: flex;
    }

}