

<section class="experience-container" data-aos="fade-right" data-aos-duration="1000">
    <h2 class="text-light text-center">Experiencia</h2>

    <div class="btn-añadir">
        <button type="button" class="btn btn-primary mt-2" routerLink="/nuevaexp" *ngIf="isLogged">
            Añadir experiencia
        </button>
    </div>
    
    <div class="experience text-light mt-2">
            <ul *ngFor="let Experiencia of expe">
                <div class="expe-content">
                    <li><h4>{{Experiencia.nombreE}}</h4></li>
                    <li><h6>{{Experiencia.descripcionE}}</h6></li>
                </div>
                <div class="buttons">
                <li class="btn" *ngIf="isLogged">
                    <button class="btn btn-primary" routerLink="/editexp/{{Experiencia.id}}">
                    <i class="bi bi-pencil"></i> Editar</button>
                </li>
                <li class="btn" *ngIf="isLogged">
                    <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                    <i class="bi bi-trash"></i> Borrar</button>
                </li>
                </div>
            </ul>
    </div>

</section>